.pre_div{
}
 .pre_navigate{
	position: relative;
	top:20px;
	padding: 5px 5px 5px 5px;
	background:rgb(250,250,250);
 }
.navigate{
	background:rgb(255,255,255);
	box-shadow: 0 0 5px 3px rgba(100,100,100,0.3);
	border-radius: 4px;/*圆形矩形*/
}

 .content{
	padding: 10px 10px 10px 10px;/*文本内容的div*/
	line-height:150%;
 }
 
.footer{ 
	position: relative;
	top:30px;
	text-align:center;
	}
 
 a { text-decoration:none; }/*消除下划线*/

img{width:100%;}
 
body {
	background:rgb(250,250,250);/*背景色*/
}
header {
	background:rgb(240,240,240);
	height: 40px;
	line-height: 50px;
	z-index: 1000;
	position: fixed;
	width: 100%;
	box-shadow: 0 1px 1px #ccc;
	left: 0;
	top: 0;
}
nav {
	width: 1080px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	position: relative;
	overflow: hidden;
	font-size:20px;
}

 /*会员意见css*/
 .all_input{
	    padding: 10px 20px 20px 20px;
		width: 100%;
 }
 
.w-button{
	background: rgb(240,120,50);
	border-radius: 8px;
	width: 100%;
	font-size: 25px;
	border: 0;
	padding: 12px;
}
 
 .w-input,.w-select,radio{
	border-radius: 4px;
	font-size: 20px;
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 20px;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
 }
 .w-select{
	padding:0px 0px;
	color: #555555;
 }
 *{-webkit-box-sizing: border-box;}
textarea.w-input, textarea.w-select{height: auto;}
/*label, .w-select*/
label{
	font-size: 20px;
	font-weight:bold;
	margin-bottom: 5px;
	display: block;
	}
.important{
	color:rgb(255,0,0);
}
 /*我自己的css*/
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor:pointer;
}